.login{
    margin: 2% 2% 2% 2%;
    width: 60%;
}

.login__btn{
    margin-bottom: 1%;
}

.list-table {
    margin: 2% 2% 2% 2%;
    width: 60%;
}

button {
    float: right;
}

.no-board {
    text-align: center;
}

.input-btn {
    padding: 0px;
}
