.login{
    margin: 2% 2% 2% 2%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.login__msg{
    margin:0px;
}

.logout__btn,
.login__btn{
    padding:5px 3px 5px 3px;
}


.list-table {
    margin: 0% 2% 2% 2%;
    width: 60%;
}

button {
    float: right;
}

.no-board {
    text-align: center;
}

.input-btn {
    padding: 0px;
}
