body{
    background-color: #EEEEEE;
}

form {
    margin: 7% 29%;
    padding: 5%;
    width: 35%;
    background-color: white;
    border: #5A6268 2px solid;
}

.btn-group {
    float: right;
    margin: 0px;
    padding: 0px;
}

.btn__reset {
    margin-right: 10px;
}

.id__input{
    width: 77%;
    display: inline-block;
}

.btn{
    background: #0069D9;
    border: none;
}