.board-list {
  margin: 3% 2% 2% 2%;
}

.board-search {
  display: flex;
  justify-content: right;
}

.board-search-opt {
  width: 90px;
}

.board-no {
  text-align: center;
}

.enroll {
  padding: 0px;
}

.enroll-btn {
  float: right;
}

.board-page {
  text-align: center;
  margin-bottom: 10px;
}

.board-page-ul {
  display: inline-flex;
}
