.table-content {
  margin: 2% 2% 2% 2%;
}

.submit-btn {
  padding: 0px;
}

.submit-btn__modify,
.submit-btn__delete {
  float: right;
}

.submit-btn__delete {
  margin-left: 10px;
}

.comment {
  background-color: rgba(204, 204, 204, 0.5);
  padding: 1% 1% 1% 1%;
}

.comment__btn {
  background-color: white;
}

.th-title,
.th-writer {
  width: 15%;
  text-align: center;
}

.comm-btn__mod,
.comm-btn__del {
  padding: 0px 2px 0px 2px;
  background-color: white;
}

.comm__forms {
  display: flex;
}

.move {
  margin: 2% 2% 0% 2%;
}

.move__next {
  float: right;
}
